.portfolio{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 64px 96px;
}

.portfolio-heading{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    text-align: left;
    margin-right: 5rem;
}

.portfolio-heading h1{
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}

.portfolio-heading p{
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.portfolio-container{
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .portfolio{
        flex-direction: column;
    }

    .portfolio-heading{
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .portfolio-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}