@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg,  #54ffc6 1.84%, #FFC000 102.67%);
  --gradient-bar: linear-gradient(103.22deg,  #54ffc6 -13.86%, #FFC000 99.55%);
  
  --color-bg: #041804;
  --color-footer : #094709;
  --color-blog: #1E5404;
  --color-text: #88DD81;
  --color-subtext: #FF8A71;
}
